<section class="wh3e game-license">
  {{! <p class="wh3e game-license"> }}
  <p>
    This unofficial system requires Whitehack, &copy;2013&ndash;2023 Christian Mehrstam. You can find it
    at
    <a href="https://whitehackrpg.wordpress.com">
      https://whitehackrpg.wordpress.com
    </a>
    .
  </p>
  <p>
    Whitehack is an RPG trademark through established use, owned by Christian Mehrstam. This third party product is
    unaffiliated. The Whitehack name is used with permission.
  </p>
  <p>
    Also note that the following are copyright of Whitehack’s author, all rights reserved. This material is used with permission:
  </p>
  <ul>
    <li>
      <p>
        Brave quirk descriptions
      </p>
    </li>
    <li>
      <p>
        Clever knack descriptions
      </p>
    </li>
    <li>
      <p>
        Strong combat option descriptions
      </p>
    </li>
    <li>
      <p>
        Reference documents within the
        <strong>
          Whitehack 4e Game Reference
        </strong>
        journal
      </p>
    </li>
    <li>
      <p>
        Roll tables
      </p>
    </li>
  </ul>
  <p>
    A user guide is available from the original Whitehack 3e Foundry system author's
    <a href="https://neilbenson.github.io/foundryvtt-whitehack-3e/">
      website
    </a>
    , including how to run
    <a href="https://neilbenson.github.io/foundryvtt-whitehack-3e#auctions">
      auctions
    </a>
    in FoundryVTT
    .
    <strong>
      Note:
    </strong>
    The 4e update includes a macro for rolling the auction’s secret d6 attribute modifier.
  </p>
  <p>
    <strong>
      Updated for 4e:
    </strong>
    There are numerous new additions, including various macros, journal entries, roll tables, and example characters.
  </p>
  <p>
    Report your issues on
    <a href="https://github.com/tuirgin/foundryvtt-whitehack-4e">
      GitHub
    </a>
    .
  </p>
</section>